/* Colors and typography 
Titles -> Wox
Subtitles -> Rio
Parrafes -> Vegur

cyan #68e4ae
blue #5bcdc3
orange #ff9b07
red #f24632
magenta #df5265
yellow f9e932
*/


/* 
=======================================
COLORS
=======================================
*/
button.btn-pantone {
  color: #ffffff;
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -ms-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  font-size: 16px;
  font-weight: 600;
}
.pantone-cyan {
  color: #fff;
  background-color: #009688;
  border: 1px dashed #009688;
}
button.btn-pantone.cyan {
  color: #ffffff;
  background-color: #009688;
  border: 1px solid #009688;
}
button.btn-pantone.cyan:hover,
button.btn-pantone.cyan.active {
  box-shadow: none;
  color: #00796B;
  background-color: #ffffff;
  border-color: #00796B;
}

.pantone-blue {
  color: #fff;
  background-color: #5bcdc3;
  border: 1px dashed #5bcdc3;
}
button.btn-pantone.blue {
  color: #5bcdc3;
  background-color: #ffffff;
  border: 1px solid #5bcdc3;
}
button.btn-pantone.blue:hover,
button.btn-pantone.blue.active {
  box-shadow: none;
  color: #ffffff;
  background-color: #5bcdc3;
  border-color: #5bcdc3;
}

.pantone-orange {
  color: #fff;
  background-color: #ff9b07;
  border: 1px dashed #ff9b07;
}
button.btn-pantone.orange {
  color: #ff9b07;
  background-color: #ffffff;
  border: 1px solid #ff9b07;
}
button.btn-pantone.orange:hover,
button.btn-pantone.orange.active {
  box-shadow: none;
  color: #ffffff;
  background-color: #ff9b07;
  border-color: #ff9b07;
}

.pantone-red {
  color: #fff;
  background-color: #f24632;
  border: 1px dashed #f24632;
}
button.btn-pantone.red {
  color: #f24632;
  background-color: #ffffff;
  border: 1px solid #f24632;
}
button.btn-pantone.red:hover,
button.btn-pantone.red.active {
  box-shadow: none;
  color: #ffffff;
  background-color: #f24632;
  border-color: #f24632;
}

.pantone-magenta {
  color: #fff;
  background-color: #df5265;
  border: 1px dashed #df5265;
}
button.btn-pantone.magenta {
  color: #df5265;
  background-color: #ffffff;
  border: 1px solid #df5265;
}
button.btn-pantone.magenta:hover,
button.btn-pantone.magenta.active {
  box-shadow: none;
  color: #ffffff;
  background-color: #df5265;
  border-color: #df5265;
}

.pantone-yellow {
  color: #fff;
  background-color: #f9e932;
  border: 1px dashed #f9e932;
}
button.btn-pantone.yellow {
  color: #f9e932;
  background-color: #ffffff;
  border: 1px solid #f9e932;
}
button.btn-pantone.yellow:hover,
button.btn-pantone.yellow.active {
  box-shadow: none;
  color: #ffffff;
  background-color: #f9e932;
  border-color: #f9e932;
}



/* 
=======================================
FONTS
=======================================
*/
@font-face {
  font-family: 'Vegur-Light';
    src: url('../fonts/original_Vegur-Light.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/original_Vegur-Light.woff') format('woff'),
         url('../fonts/original_Vegur-Light.ttf') format('truetype'),
         url('../fonts/original_Vegur-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* 
=======================================
BASICS & HELPERS
=======================================
*/
body {
  -webkit-font-smoothing: subpixel-antialiased;
  background: #111111;
  font-family: 'Vegur-Light';
  font-size: 16px;
}
.wrapper {
  max-width: 100%;
  overflow: hidden;
  background: white;
  -webkit-transition: all .55s ease-out;
  transition: all .55s ease-out;
  opacity: 0;
}
.is-loaded .wrapper {
  opacity: 1;
}
.wrapper.blur {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  opacity: .55;
}
a {
  color: white;
  font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
p {
	font-family: 'Vegur-Light';
	line-height: 1;
  font-size: 16px;
}
.padding-sections {
  padding: 50px 0;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
hr.creative {
  width: 30%;
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
hr.creative:after {
  content: "*";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}



/* 
=======================================
CENTER NAV 
=======================================
*/
.navbar-inverse {
  background-color: #111111;
  border-color: #111111;
}
.navbar-brand.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  width: 200px;
  text-align: center;
  background-color: transparent;
  padding: 0;
  overflow: visible;
}
.navbar-brand-centered a img {
  height: 100px;
  width: auto;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
  margin-left: -150px;
}
.nav.navbar-nav.navbar-left {
  margin-left: 50px;
}
.nav.navbar-nav.navbar-right {
  margin-right: 50px;
}
.navbar-brand {
  overflow: hidden;
}
.nav.navbar-nav li {
  width: 100px;
  text-align: center;
}


/* 
=======================================
HEADER FADE CARRUSEL
=======================================
*/
header {
  background-color: black;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh;
}


.fondo{
  background-size: cover;
}
.fondo-fixed{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.fondo-1 {
  background-image: url("https://static.domain.com.au/domainblog/uploads/2017/12/08102016/2_h012om.jpg");
  opacity: 0.5;
  background-size: cover;
}
.fondo-2 {
  background-image: url("http://www.radclyffeprinters.co.uk/images/services/service12.jpg");
  opacity: 0.5;
  background-size: cover;
}
.modulo-alto {
  padding: 1em;
  min-height: 100vh;
  text-align: center;
}
.big-module {
  padding: 1em;
  min-height: 120vh;
  text-align: center;
}
.poligon-module {
  -webkit-clip-path: polygon(0 39%, 100% 0, 100% 63%, 0 100%);
  clip-path: polygon(0 39%, 100% 0, 100% 63%, 0 100%);
  background-color: black;
}
.big {
  font-size: 3em;
}
header h1 {
  margin: 0;
}
h1.big-title {
  font-size: 40px;
  font-size: 5em;
  font-weight: 600;
}
header p {
  font-size: 2.3em;
}
.sider-title {
  position: absolute;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  height: 100%;
  bottom: 0;
  color: black;
  background-color: #ffffff;
  width: 40%;
  padding: 70px 100px;
  word-break: break-word;
  margin: 0;
  z-index: 999;
}
.sider-text-box {
  width: 70%;
  height: auto;
}
.header-logo {
  width: 100%;
  height: 100%;
  border-radius: 200px;
  margin: 10px auto;
}

/* Fade Carousel */
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
.carousel {
  padding: 0;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.item, .item.active {
  height: 100%;
}
.carousel-inner .item img {
  opacity: 0.5;
  height: 100vh;
  width: 100%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}


/* ScrollDown button header */
header .scroll-down {
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: right;
  right: 5%;
  z-index: 999;
}
header .scroll-down .btn {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100% !important;
  line-height: 50px;
  padding: 0;
  letter-spacing: normal;
  color: white;
  font-size: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
header .scroll-down .btn:hover {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
  outline: none;
}


/* BIO */
.bio-icon {
	font-size: 50px;
	margin-top: 15px;
}


/* 
=======================================
WORKS
=======================================
*/
/* Works Nav */
/*ul.nav.nav-pills {
  max-width: 500px;
  margin: 0 auto;
}
ul.nav.nav-pills li a {
  color: #ffffff;
  background-color: #009688;
  border: 1px solid #009688;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
ul.nav.nav-pills li a:hover {
  color: #fff;
  background-color: #00796B;
  border-color: #ffffff;
}*/
.works-buttons {
  margin: 10px auto;
}

/* Pantone Card */
.work-container {
	margin: 20px 0;
  background-color: #f5f6fa;
  /*background-color: #ffffff;*/
  color: black;
  /*border: 1px solid rgba(0,0,0,0.21);*/
  -moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
}
.work-container a {
  text-decoration: none;
}
.work-item {
  height: 250px;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  text-align: center;
}
.work-item img {
  display: inline-block;
  vertical-align: middle;
  /*max-height: 100%;*/
  max-width: 100%;
}
.work-description {
  height: 50px;
	padding: 10px;
  color: #000000;
}
.work-description h5 {
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
}
.work-description h5 span {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}
span.subtle {
	font-family: 'Vegur-Light';
}


/* 
=======================================
BIO
=======================================
*/
.bio-img {
  margin-top: 50px;
}



/* 
=======================================
FOOTER
=======================================
*/
footer {
	background-color: #111111;
	color: white;
	padding: 20px 0 10px 0;
}



/* 
=======================================
SCROLL TO TOP BUTTON
=======================================
*/
.scrollToTop {
  color: #fff;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1005;
  display: none;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.scrollToTop i {
  line-height: 45px;
  font-size: 24px;
}
.scrollToTop:hover {
  background-color: rgba(0, 0, 0, 0.6);
}



/* WORKS EXPANDED */
/*
 * ==== hexagon
 */
.full-work-item {
  position: relative;
}
.works-details {
  width: 100%;
  height: 100%;
  /*position: absolute;
  bottom: 10%;*/
}
dt {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-top: 10px;
}
.hexa, .hexa div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.hexa {
  width: 325px;
  height: 230px;
}
.hexa div {
  width: 100%;
  height: 100%;
}
.hexa {
  transform: rotate(120deg);
}
.hex1 {
  transform: rotate(-60deg);
}
.hex2 {
  transform: rotate(-60deg);
}

.hexa.big {
  width: 100%;
  height: 100%;
}
.hexa.pull-right {
  margin-top: -230px;
}
.hexa.pull-left {
  margin-top: 230px;
}



/* img grid */
.wrapper-grid {
  margin: 40px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 32% 32% 32%;
  background-color: #fff;
  color: #444;
}

.box {
  /*background-color: #444;*/
  color: #fff;
  /*border-radius: 5px;
  padding: 20px;*/
  /*font-size: 150%;*/
  /*max-height: 300px;*/
  overflow: hidden;
  color: #000;
  border: 1px dashed black;
}
.box img {
  width: 100%;
  height: 100%;
}

.a {
  grid-column: 1 / 3;
  grid-row: 1;
}
.b {
  grid-column: 3 ;
  grid-row: 1 / 3;
}
.c {
  grid-column: 1 ;
  grid-row: 2 ;
}
.d {
  grid-column: 2;
  grid-row: 2;
}




/* 
=======================================
SIDR MOBILE MENÚ
=======================================
*/
#sidr {
  background: #111111;
  box-shadow: none !important;
}
.sidr {
  z-index: 9 !important;
}
.sidr ul {
  border-bottom: 1px solid transparent !important;
}
.sidr ul li {
  border-top: 1px solid transparent !important;
}
.sidr ul li a, 
.sidr ul li span {
  font-weight: 300;
}
#sidr li.logo img.sidr-logo {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin: 30px auto;
}



.work-image {
  height: 300px;
  height: auto;
  display: inline;
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

#parallelogram {
  width: 250px;
  min-height: 630px;
  height: 100%;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
  /*background: red;*/
  overflow: hidden;
}

.back-image {
  background-image: url("carousel1.jpg");
  background-size: cover;
  background-position: center;
}

.img {
  background-image: url("http://www.radclyffeprinters.co.uk/images/services/service12.jpg");
}



.hexagon {
  position: relative;
  width: 200px; 
  height: 115.47px;
  background-color: #ffffff;
  /*background: linear-gradient(-45deg, rgb(8, 174, 234) 0%, rgb(42, 245, 152) 100%);*/
  margin: 57.74px 0;
  border-left: solid 2px #000000;
  border-right: solid 2px #000000;
  left: 0; 
  right: 0; 
  margin-left: auto;
  margin-right: auto;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 27.2893px;
}
.hexagon:before {
  top: -70.7107px;
  border-top: solid 2.8284px #000000;
  border-right: solid 2.8284px #000000;
}
.hexagon:after {
  bottom: -70.7107px;
  border-bottom: solid 2.8284px #000000;
  border-left: solid 2.8284px #000000;
}
.text{
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: -50px;
  text-align: center;
}




/* 
=======================================
WORKS EXPANDED
=======================================
*/
.work-expanded {
  padding-top: 50px;
}
.fixed-work-description {
  height: 100%;
  min-height: 90vh;
  padding: 100px 10px;
  position: fixed;
  width: inherit;
}
.fixed-work-description h1 {
  font-family: 'Vegur-Light';
}
.work-images-grid {
  height: 100%;
  min-height: 90vh;
}
.work-images-grid img {
  width: 90%;
  height: auto;
  margin-bottom: 50px;
}



/* 
=======================================
MEDIA QUERIES
=======================================
*/
/* Small devices (tablets, phones less than 767px) */
@media (max-width: 767px) {
  /*button.navbar-toggle span.icon-bar {
    width: 15px;
    height: 4px;
    border-radius: 0;
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -ms-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
  }
  button.navbar-toggle:focus,
  button.navbar-toggle:hover {
    background-color: white;
  }
  button.navbar-toggle:focus span.icon-bar,
  button.navbar-toggle:hover span.icon-bar {
    background-color: #333;
  }
*/
  .navbar-transparent {
    background-color: transparent;
    border-color: transparent;
  }
  #mobile-menu-toggle {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    border: none;
    /*background: transparent !important;*/
    float: none;
    position: absolute;
    top: 20%;
    right: 2%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    z-index: 10;
  }
  /*#mobile-menu-toggle.is-open {
    right: 49%;
  }*/
  #mobile-menu-toggle:hover {
    /*background: transparent !important;*/
    background-color: rgba(0, 0, 0, 0.6);
  }
  #mobile-menu-toggle .icon-bar {
    width: 20px;
    height: 4px;
    border-radius: 0px;
    background-color: #FFF;
    transition: all 0.2s;
    margin: 3px auto;
  }
  #mobile-menu-toggle.is-open .top-bar {
    transform: rotate(45deg);
    transform-origin: 0% 90%;
  }
  #mobile-menu-toggle.is-open .middle-bar {
    opacity: 0;
  }
  #mobile-menu-toggle.is-open .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 5% 10%;
  }
  #mobile-menu-toggle .top-bar {
    transform: rotate(0);
  }
  #mobile-menu-toggle .middle-bar {
    opacity: 1;
  }
  #mobile-menu-toggle .bottom-bar {
    transform: rotate(0);
  }


  .scrollToTop {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .scrollToTop i {
    line-height: 35px;
    font-size: 20px;
  }
  header .scroll-down {
    bottom: 5%;
  }
  .sider-title {
    width: 60%;
    padding: 20px 40px;
    height: 100vh;
  }
  .sider-text-box {
    position: absolute;
    left: 10%;
    bottom: 15%;
    width: 70%;
    height: auto;
  }
  .big {
    font-size: 2em;
  }
  header p {
    font-size: 2em;
  }
  .btn-pantone {
    display: block;
    width: 100%;
    margin: 2px;
  }
  .wrapper-grid {
    margin: 10px;
  }
  .a {
    grid-column: 1 / 4;
    grid-row: 2;
  }
  .b {
    grid-column: 1 / 4;
    grid-row: 3;
  }
  .c {
    grid-column: 1 / 4;
    grid-row: 1 ;
  }
  .d {
    grid-column: 1 / 4;
    grid-row: 4;
  }

  .fixed-work-description {
    position: relative;
    display: block;
  }

}
/* 767px and Up */
@media (min-width: 767px) {
  .navbar>.container .navbar-brand-centered, 
  .navbar>.container-fluid .navbar-brand-centered {
      margin-left: -120px;
  }
}

@media (max-width: 1000px) {
  header p {
    font-size: 2em;
  }
  .sider-title {
    width: 60%;
    padding: 20px 40px;
    height: 100vh;
  }
}
